{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/detail.css' %}">
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <ul>
      {% if task.category %}
      <li>Category: {{ task.category }}</li>
      {% else %}
      <li>Category: No Category</li>
      {% endif %}
      <li>Posted at: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>Due at: {{ task.due_at }}</li>
      {% endif %}
      {% if task.completed %}
      <li>Status: <span class="completed">Completed</span></li>
      {% else %}
      <li>Status: <span class="not_completed">Not Completed</span></li>
      {% endif %}
    </ul>

    <div>
      <a href="{% url 'index' %}">Top</a>
      <a href="{% url 'update' task.id %}">Edit</a>
      | <a href="{% url 'delete' task.id %}">Delete</a>
      | <a href="{% url 'close' task.id %}">Close</a>
    </div>
  </body>

</html>